.border{
    border: 2px solid black;
    margin: 3px;
}


.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}


.invert{
    filter: invert(1);
} 

.bg-grey{
    background-color: #1a1919;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: -12px;
}

.p-1{
    padding: 10px;
}


.cc{
    margin-left: -2px;
}

 .ss{
    
    margin-left: 10px;
    padding: 5px;
 }

 .l{
        margin-top: 20px;
 }
  .a{
        margin-left: -15px;
  }

  .b{
    height: 51vw;
  }

  .li{
    height: top 10px;
  }

  .tt{
    font-size: 200%;
    
  }


 /* .wi{
    width: 120px;
     margin-left: -25px;
  }     */

  .playlogo{
    width: 40px;
   
    margin-left: 37px;
  }


  
.musiclogo{
    width: 40px;
    
    gap: 34px;
}